<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tmathur2@illinois.edu">email</a></li>
	        		<li><a href="https://github.com/tamathur">github</a></li>
				<li><a href="https://linkedin.com/in/teagan-mathur-7a5955148">LinkedIn</a></li>
				<li><a href="https://github.com/tamathur/tamathur.github.io/blob/master/Teagan's%20Resume.docx">resume</a></li>
				</ul>
			</footer>
		</body>
	</html>
